@font-face {
    font-family: 'cottage';
    src: url('./fonts/DreamCottage-Regular.woff') format('woff'),
         url('./fonts/DreamCottage-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'sniglet';
    src: url('./fonts/Sniglet-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

@font-face {
    font-family: 'nunito';
    src: url('./fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

.container{
    
    
    text-align: center;

}

.header-container{
    font-family: 'sniglet';
    padding-top: 20px;
}

.top-sticker {
    padding-right: 30px;
    padding-left: 30px;
}

.header{
    font-size: xx-large;
    
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.title {
    margin-bottom: 0;
    
}

.body {
    background-color: pink
}

.sub-header {
    margin-top: 0;
    font-size: 30px;
}


.glitter-hearts {
    transform: rotate(35deg);
    position: absolute;
    right: 0;
    z-index: -10;
}

.glitter-hearts1 {
    transform: rotate(-55deg);
    position: absolute;
    padding-top:8px;
    left: 0;
    z-index: -10;
    
}

.top-image {
    width: 400px;
    border-radius: 25px;
    margin-top: 10px;
    border: 15px solid;
    border-color: white;
    
}

.squiggle {
    /* transform: rotate(90deg); */
    /* width: 100%;
    height: 400px; */
    /* height: 500px; */
    
}

.timeline {
    display: flex;
}